
.connect-cart-wrapper {
    background-color: rgb(51, 51, 51);
    border-color: #b3d334;
    color: rgb(220, 220, 220);
    font-size: 9pt;
}
    .connect-cart-wrapper.standalone {
        -webkit-box-shadow: 1px 3px 5px 1px rgba(25, 25, 25 1);
        box-shadow: 1px 3px 5px 1px rgba(25, 25, 25, 1);
    }

    .connect-cart-wrapper h2 {
        font-weight: normal;
    }

.connect-cart-body {
    border-color: #b3d334;
}

.connect-cart-footer {
    border-color: #b3d334;
}

.connect-cart-title {
    color: #4396CA;
    font-size: 11pt;
    line-height: 12pt;
}

span.connect-cart-pricing {
    color: white;
}

span.connect-widget-strikethrough {
    text-decoration: line-through;
    color: rgb(200, 200, 200);
}

span.connect-lineitem-saleprice {
    color: white;
}

#drMiniCart input[type=text]  {
    background-color: rgba(40, 40, 40, 1);
    color: #b3d334;
    border-color: #b3d334;
}

.connect-cart-remove a{
    color: #4396CA;
}

.connect-widget-button button {
    background-color: rgba(40, 40, 40, 1);
    color: #b3d334;
    border-color: #b3d334;
}

    .connect-widget-button button:not([disabled=disabled]):hover {
        background-color: rgba(75, 75, 75, 1);
    }

.connect-loading .connect-cart-loadingmask {
    height: 100%;
    width: 100%;
    background-color: rgba(40,40,40,0.5);
}

