.connect-cart-wrapper {
    background-color: transparent;
    border-color: #c0c0c0;
}
    .connect-cart-wrapper.standalone {
        -webkit-box-shadow: 1px 3px 5px 1px rgba(25, 25, 25 1);
        box-shadow: 1px 3px 5px 1px rgba(25, 25, 25, 1);
    }

    .connect-cart-wrapper h2 {
        font-weight: normal;
    }

.connect-cart-body {
    border-color: #c0c0c0;
}

.connect-cart-footer {
    border-color: #c0c0c0;
}

.connect-cart-title {
    color: #4396CA;
}

span.connect-widget-strikethrough {
    text-decoration: line-through;
    color: #c0c0c0;
}

span.connect-lineitem-saleprice {
    color: #000;
}

.connect-cart-remove a{
    color: #4396CA;
}

.connect-loading .connect-cart-loadingmask {
    height: 100%;
    width: 100%;
    background-color: rgba(40,40,40,0.5);
}

.connect-cart-offer {
    border-color: #c0c0c0;
}

.connect-cart-offerheader span {
    font-weight: bold;
}

.connect-cart-feedback {
    background-color: #CEF2C9;
    border: 1px solid #3EB030;
    border-radius: 4px;
    color: #3EB030;
}
.connect-cart-error {
    background-color: white;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
}

.connect-cart-couponwrapper {
    border-color: #c0c0c0;
}
